[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
tensorflow-gpu = "==1.8"
ipython = "*"
pillow = "*"
cython = "*"
jupyter = "*"
keras = "*"

[dev-packages]

[requires]
python_version = "3.5"
